#contact-info {
  .contact-info {
    display: flex;
    justify-content: center;
    // grid-template-columns: 1fr;
    // grid-gap: 3rem;
    text-align: center;
  }

  .fas {
    color: $warning;
    padding-bottom: 0.75rem;
  }
}

#tagline {
  h1 {
    font-size: 1rem;
    text-align: center;
    color: $dark-blue;
  }
}

@include atSmall {
  #contact-info {
    .contact-info {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0;
    }
  }

  #tagline {
    h1 {
      font-size: 2.5rem;
    }
  }
}
